In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
html = requests.get('https://news.naver.com/main/ranking/popularDay.nhn?rankingType=popular_day&sectionId=101&date=20200204').text
soup = BeautifulSoup(html, 'html.parser')
title_list = soup.select('.ranking_headline')
start_date = '20190204'
end_date = '20200204'
datetime = pd.date_range(start_date, end_date) 
datetime= datetime.strftime("%Y%m%d").tolist()

datetime
economic = []

# print(title_list[1].get_text().strip())
for i in datetime:
    url = 'https://news.naver.com/main/ranking/popularDay.nhn?rankingType=popular_day&sectionId=101&date='+i
    request = urllib.request.Request(url)
    response = urllib.request.urlopen(request)
    soup = BeautifulSoup(response, 'html.parser')
    soup_class = soup.select('.ranking_headline')
    for index in soup_class:
        title = index.get_text().strip()
        economic.append([title])

    print(i)

In [ ]:
import urllib.request
from bs4 import BeautifulSoup

#여기에 함수를 구현해봅시다.
url = "https://www.naver.com/"
req = urllib.request.urlopen(url)
res = req.read()

soup = BeautifulSoup(res,'html.parser')
keywords = soup.find_all('div',class_='area_link')
#get_text() == 데이터에서 문자열만 추출
#strip() == 데이터의 양옆 공백제거
#[:20]의 이유? 인기검색어의 중복을 막고 20위까지만 출력하기 위함
#keywords = [each_line.get_text().strip() for each_line in keywords[:20]]
print(keywords)

In [3]:
from datetime import datetime
import requests
import pandas as pd

In [ ]:
def main():
    info_main = input("="*50+"\n"+"입력 형식에 맞게 입력해주세요."+"\n"+" 시작하시려면 Enter를 눌러주세요."+"\n"+"="*50)
    maxpage = input("최대 크롤링할 페이지 수 입력하시오: ")
    query = input("검색어 입력: ")
    sort = input("뉴스 검색 방식 입력(관련도순=0 최신순=1 오래된순=2): ") #관련도순=0 최신순=1 오래된순=2
    s_date = input("시작날짜 입력(2019.02.04):") 
    e_date = input("끝날짜 입력(2020.02.04):") 
    crawler(maxpage,query,sort,s_date,e_date)
    main()

In [ ]:
economic

In [ ]:
len(economic)

In [ ]:
data = pd.DataFrame(economic)

In [ ]:
data.head()

In [ ]:
data.columns = ['title']

In [ ]:
data

In [ ]:
data.to_csv('economic_20190204__.csv', encoding = 'UTF-8')

In [ ]:
pd.read_csv('economic_20190204__.csv')

In [ ]:
data2 = pd.DataFrame.from_records(data)
data2.to_excel('economy.xlsx')

In [ ]:
data2

In [ ]:
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [ ]:
X_train = np.array(['정치', '경제','IT/과학' ])
X_test = np.array(['정치', '경제', '사회'])

In [ ]:
encoder = LabelEncoder()

encoder.fit(X_train)
X_train_encoded = encoder.transform(X_train)

# X_test데이터에만 존재하는 새로 출현한 데이터를 신규 클래스로 추가한다
for label in np.unique(X_test):
    if label not in encoder.classes_: # unseen label 데이터인 경우( )
        encoder.classes_ = np.append(encoder.classes_, label) # 미처리 시 ValueError발생
X_test_encoded = encoder.transform(X_test)

In [ ]:
print(encoder.classes_)

In [ ]:
print(X_test, '-->', X_test_encoded)

In [ ]:
data2.describe()

In [ ]:
data2.isnull()

In [ ]:
raw_data = data['title']

In [ ]:
raw_data.value_counts()

In [ ]:
raw_data.columns = ['economy']

In [ ]:
raw_data

In [ ]:
data.columns = ['economy']
economy = data

In [ ]:
society = pd.read_excel('society.xlsx')

In [ ]:
society = pd.read_excel('society.xlsx', index_col =0)

In [ ]:
society.columns =['society']

In [ ]:
society

In [ ]:
df1 = pd.concat([society, economy] , axis =1)

In [ ]:
df1

In [ ]:
import csv
import random 
import os

os.chdir("C:\\Users\\ICT01_04\\Documents\\Python2")

file = open('to_data.csv', 'r', encoding = 'utf-8')
line = file.readlines()
random.shuffle(line)
rcsv = csv.reader(line)

file_write = open('to_data.csv', 'w', encoding = 'utf-8', newline = "")
wcsv = csv.writer(file_write)

for i in rcsv:
    try:
        wcsv.writerow([i[0].strip(), i[1],i[2],i[3]])
    except:
        pass

In [ ]:
from konlpy.tag import Twitter
from gensim.models import Word2Vec
import csv
twitter = Twitter()

file = open('to_data.csv', 'r', encoding = 'utf-8')
line = csv.reader(file)

In [14]:
to_data = pd.read_excel('to_data.xlsx',index_col =0)
to_data.columns = ['news', 'labels']

In [15]:
import os
import random
import csv
to_data.sample(frac = 1)  ## 셔플

                                            news  labels
15176           다뉴브강서 여성 추정 시신 1구 추가 발견…"신원확인 중"       2
38895                 [단독] 조국 딸, 대치동 학종학원서 돈 벌었다       4
19367  "시위로 체포된 10대 소녀, 홍콩 경찰에 윤간, 임신 후 낙태"...현…       2
45140   “대출도 못갚았는데 종부세라니…” vs “집값 오른 만큼 세금 내야” …       5
44198         "해외서 리콜된 제품 국내서 버젓이 유통…1위 제조국은 중국"       5
...                                          ...     ...
3982       뜨거웠던 붉은 밤···U-20 월드컵 결승 합계 시청률 무려 42%       1
23534       스페인 “북 대사관 10명이 습격”…PC 등 자료 미 FBI 건네       3
22922                 文, 오늘 개각…박영선 중기부-진영 행안부 가닥       3
18014       [Pick] "아빠는 누구?"…암컷뿐인 수족관서 태어난 새끼 상어       2
48170               수소차 개소세 감면 연장…넥쏘 사면 361만원 혜택       5

[54900 rows x 2 columns]

In [ ]:
import tensorflow as tf
import matplotlib
import matplotlib.pyplot as plt
import numpy as np